body.about{
    background: rgb(102, 100, 100);
    background: linear-gradient(162deg, rgba(128,120,120,1) 26%, rgba(84,0,0,1) 96%);
}
a{
    text-decoration: none;
    color: rgba(180, 179, 179, 0.912);
}