/* nav:hover {
    background-image: linear-gradient(to bottom right, darkblue 30%, rgb(5, 9, 63) );
    } */
body.home{
        background: rgb(102, 100, 100);
        background: linear-gradient(390deg , rgba(0, 0, 0, 0.898) 10% ,rgb(116, 28, 12) 60%, #635a52) ;
} 

nav:hover {
        background-color: #e3bc9a58;       
}

h4{
    text-align: right;
    color: rgba(177, 177, 177, 0.912);
}
    
/* html{
    background-color: teal;
} */

header{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgba(124, 118, 118, 0.912);
}
h1{
    color: black;
    text-align: center;
} 

h2{
    text-align: center;
    font-family: cursive;
    font-size: 70px;
    font-style: oblique;
}

p{
    text-align: center;
}